<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Index</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="title">
            <h1>Arcade</h1>
            <p>hello world</p>
        </div>

        <h2 style="text-align: center;"> Games </h2>

        <div class="gamegrid">

            <div class="gamecard">
                <a href="{{url_for('battleship')}}">Battleship</a>
                    <p>Sink the opponent's ships while keeping your ships alive</p>
                </div>

            <div class="gamecard">
                    <h4>Rock-Paper-Scissors</h4><br>
                    <p>Play rock paper scissors against the computer</p> <!-- bro idk what the desc shold be -->
            </div>

            <div class="gamecard">
                <h4>Tic-Tac-Toe</h4><br>
                <p>Placeholder description</p>
            </div>

            <div class="gamecard">
                <h4>Number Guesser</h4><br>
                <p>Guess a random number in as few tries as possible</p>
            </div>

            <div class="gamecard">
                <p>coming soon </p>
            </div>

            <div class="gamecard">
                <p>coming soon </p>
            </div>

        </div>


    </body>
</html>